
<div class="modal modal fade" id="infoModalPage" tabindex="-1" aria-labelledby="infoModalPageLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5 text-center">
        <h4 class="mt-3 mb-2">Numero de páginas</h4>
        <p class="mt-3">Añade las páginas que tendrá tu proyecto<br>El coste de cada página es de 30€</p>
      </div>
    </div>
  </div>
</div>

<div class="modal modal fade" id="infoModalLang" tabindex="-1" aria-labelledby="infoModalLangLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5 text-center">
        <h4 class="mt-3 mb-2">Numero de idiomas</h4>
        <p class="mt-3">Añade los lenguajes que tendrá tu proyecto<br>El coste de cada idioma es de 30€</p>
      </div>
    </div>
  </div>
</div>